.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    width: 200px;
    height: 200px;
}


.vinyl {
    width: 200px;
    height: 200px;
    background: black;
    border-radius: 50%;
    z-index: -1;
    transform: translateX(-200px);
    transition: transform 0.5s;
}

.label {
    z-index: 5;
    width: 65px;
    height: 65px;
    margin: auto;
    border-radius: 50%;
    background: red;
}

.hole {
    z-index: 5;
    width: 10px;
    height: 10px;
    margin: auto;
    border-radius: 50%;
    background: white;
}

.open+.vinyl {
    transform: translateX(-50px);
}

